@model decimal?
@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{
    <h2>Your amount: @Model</h2>
    <h2>You can:</h2>
    <h2>@Html.ActionLink("Put money to your account", "Put", "BankAccount")</h2>
    <h2>@Html.ActionLink("Transfer money to another account", "Transfer", "BankAccount")</h2>
}
else
{
    <h2>Please perform Login for manage your account</h2>
}

