@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Forgot Password</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet"/>
</head>
<body class="fp-page">
    <div class="fp-box">
        <div class="card">
            <div class="body">
                <div class="msg">
                    Instructions were sent to your Email.
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/admin.js"></script>
</body>
</html>
