@model bool
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Forgot Password</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/waves.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body class="fp-page">
    <div class="fp-box">
        <div class="card">
            <div class="body">
                @if(Model)
                {
                    <div class="msg">
                        Password was reset to "qwerty".<br/>
                        Please perform sign in and change it immediately!
                    </div>
                    <div class="row m-t-20 m-b--5 align-center">
                        <a>@Html.ActionLink("Click here for sign in", "SignIn", "Auth")</a>
                    </div>
                }
                else
                {
                    <div class="msg">
                        Something wrong happens :( <br/>
                        Please try to reset password again
                    </div>
                    <div class="row m-t-20 m-b--5 align-center">
                        <a>@Html.ActionLink("Click here for reset password again", "Forgot", "Password")</a>
                    </div>
                }

            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/waves.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/admin.js"></script>
    <script src="~/js/forgot-password.js"></script>
</body>
</html>
